body{
    background-color: #e9e7f7;
  }
  div.barra{
    background-color: #dad6f1;
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: auto;
  }
  div.planoFundo{
    background-image: url("./Images/PlanoFundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
    height: 300px;
    width: 100%;
    max-width: 100%;
  }